.NavigationTabs {
    background-color: white;
    height: var(--header-nav-height);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.NavigationTabs-Nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 17px 13px;
}

.NavigationTabs-Button {
    height: 100%;
    display: inherit;
    justify-content: center;
    align-items: center;
}
